<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<title>{% block title %}Sporkk{% endblock %}</title>

	<link rel='stylesheet' type='text/css' href='/static/css/bootstrap.css' />
	<link rel='stylesheet' type='text/css' href='/static/css/style.css' />
	<script type='text/javascript' src='/static/js/bootstrap.js'></script>
	{% endblock %}
</head>

<body>
	{% block body %}
	<div class="container">
		<div class="row">
			<div class="span12">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	{% endblock %}
</body>

</html>