<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<title>{% block title %}Sporkk{% endblock %}</title>

	{% block css_head %}
	<link rel='stylesheet' type='text/css' href='/static/css/bootstrap.css' />
	<link rel='stylesheet' type='text/css' href='/static/css/style.css' />
	{% endblock %}

	{% block js_head %}
	{% endblock %}

	{% endblock %}
</head>

<body onload="{% block onload %}{% endblock %}">
	{% block body %}
	<div class="container">
		<div class="row">
			<div class="span12">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>

	{% block js_body %}
	<!--<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>-->
	<script type='text/javascript' src='/static/js/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/bootstrap.js'></script>
	{% endblock %}

	{% endblock %}
</body>

</html>