{% extends "submit-form.html" %}
{% block title %}Sporkk - URL Shortener{% endblock %}

{% block css_head %}
{{ super() }}

<style type='text/css'>
td.rspace
{
	padding-right: 4px;
}

td.lspace
{
	padding-left: 4px;
}
</style>

{% endblock %}

{% block form %}
<form name="paste" method="POST">
	<legend>Pastebin</legend>
	{% if error is defined and error != None %}
		<div class="alert"><strong>Error: </strong>{{ error }}</div>
	{% endif %}

	<table>
		<tr>
			<td class="rspace"><label class="text" for="poster_name">Poster Name</label></td>
			<td class="lspace"><label class="text" for="syntax">Syntax Highlighting</label></td>
		</tr>
		<tr>
			<td class="rspace"><input type="text" name="poster_name" tabindex="1" placeholder="Anonymous" id="poster_name"></td>
			<td class="lspace"><select name="syntax" tabindex="2">
				{% for dbname, item in syntax_options.iteritems() %}
					<option value="{{ dbname }}">{{ item.dispname }}</option>
				{% endfor %}
			</select></td>
		</tr>
	</table>

	<!-- <label class="checkbox"><input type="checkbox" name="syntax_highlight" value="syntax_highlight">Enable syntax highlighting?</label> -->

	<textarea type="text" name="paste_content" tabindex="3" placeholder="Paste content..." cols="100" rows="20" wrap="true" class="expand"></textarea>
	<br />
	<button type="submit" onclick="savePosterName();" name="action" value="paste" tabindex="4" class="btn">Submit</button>
</form>
{% endblock %}

{% block onload %}{{ super() }} loadPosterName();{% endblock %}

{% block js_body %}
<script type='text/javascript' src='/static/js/cookiemonster.js'></script>
<script type='text/javascript'>
function loadPosterName()
{
	var pName = getCookie("poster_name");

	if (pName != null)
	{
		document.getElementById('poster_name').value = pName;
	}
}

function savePosterName()
{
	setCookie("poster_name", document.getElementById('poster_name').value);
}
</script>
{% endblock %}
