{% extends "base.html" %}
{% block title %}{% if poster != None %}Paste by {{ poster }}{% else %}Paste by anonymous user{% endif %}{% endblock %}

{% block css_head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='/static/css/prettify.css' />
<link rel='stylesheet' type='text/css' href='/static/css/prettify-bootstrap.css' />
{% endblock %}



{% block js_head %}
{{ super() }}
<!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&amp;lang=css" defer="defer"></script> -->
<script type="text/javascript" src="/static/js/prettify.js"></script>
{% endblock %}



{% block content %}
{% if syntax_highlight %}
<pre class="prettyprint linenums">{% else %}
<pre>{% endif %}
{% if syntax_highlight and lang is defined and lang != auto %}<code class="lang-{{ lang }}">{{ paste_content }}</code>
{% else %}{{ paste_content }}{% endif %}</pre>
{% endblock %}



{% block js_body %}
{{ super() }}
<script>
  !function ($) {
    $(function(){
      window.prettyPrint && prettyPrint()   
    })
  }(window.jQuery)
</script>
{% endblock %}
