{% extends "submit-form.html" %}
{% block title %}Sporkk - URL Shortener{% endblock %}

{% block form %}
<form name="shorten" method="POST">
	<legend>Shorten URL</legend>
	{# Disabled. Error messages will be handled by the main submit form template.
	{% if shortener_errormsg is defined %}
		<div class="alert"><strong>Error: </strong>{{shortener_errormsg}}</div>
	{% endif %}
	#}

	<input type="text" name="longurl" placeholder="URL to shorten..." class="expand">
	<br />
	<button type="submit" name="action" value="shorten" class="btn">Shorten URL</button>
</form>
{% endblock %}