{% extends "submit-form.html" %}
{% block title %}Sporkk - URL Shortener{% endblock %}

{% block form %}
<div id="shorten_form_div">
	<form name="shorten" id="shorten_form" action="" method="POST">
		<legend>Shorten URL</legend>
		<div class="input-append">
			<input type="url" name="longurl" id="longurl" 
				placeholder="URL to shorten..." class="input-large" 
				tabindex="1" autocomplete="off" required />
			<button type="submit" id="submit" name="action" value="shorten" class="btn" tabindex="2">Shorten URL</button>
		</div>
	</form>
</div>
{% endblock %}

{% block js_body %}
{{ super() }}

<script type='text/javascript' src="/static/js/jquery-ui.min.js"></script>

<script type='text/javascript' src="/static/js/alertdiv.js"></script>
<script type='text/javascript' src='/static/js/ajaxerrors.js'></script>

<script type='text/javascript'>

$(document).ready(function()
{
	var shortenForm = $("form#shorten_form");
	var shortenFormDiv = $("div#shorten_form_div");

	var shortenBtn = $("button#submit");
	var urlInput = $("input#longurl");

	shortenForm.submit(function()
	{
		var postData = 'longurl=' + encodeURIComponent(urlInput.val());

		const aniTime = 200;

		function showAlertDiv(msg, title, type)
		{
			alertDivObj = createAlertDiv(msg, title, type, true, function()
				{
					$(alertDivObj.div).hide("slide", { direction: "up" }, aniTime, function()
						{
							shortenForm.show("slide", { direction: "up" }, aniTime);
							alertDivObj.div.remove();
						});
				});

			shortenFormDiv.append(alertDivObj.div);
			shortenForm.hide("slide", { direction: "up" }, aniTime, function()
				{
					$(alertDivObj.div).show("slide", { direction: "up" }, aniTime);
				});
		}

		$.ajax({
			type: "POST",
			url: "/short/submit?json",
			data: postData,
			dataType: "json",

			success: function(data, textStatus)
			{
				if (data.error)
				{
					showAlertDiv(data.errorMsg, "Error", "error");
					return;
				}

				showAlertDiv("Your URL was shortened to <a href='/" + data.url + "'>" + data.url + "</a>.",
					"URL Shortened", "success");
			},

			error: function(jqXHR, jqError, httpError)
			{
				var errorMsg = "An unknown error occurred.";

				if (Math.floor(jqXHR.status / (Math.pow(10, 2)) % 10) !== 2)
				{
					errorMsg = getHTTPErrorMsg(jqXHR.status);
				}
				else
				{
					errorMsg = getJQErrorMsg(jqError);
				}

				showAlertDiv(errorMsg, "Error", "error");
			}
		});

		return false;
	});
});
</script>

{% endblock %}