{% extends "base.html" %}
{% block title %}Sporkk - Submit{% endblock %}

{% block css_head %}
{{ super() }}

<style type='text/css'>
.expand
{

	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
</style>
{% endblock %}

{% block content %}
	<ul class="nav nav-tabs">
		{% for item in submit_forms %}
			<li {% if loop.first %}class="active"{% endif %}>
				<a href="#tab-{{ item.tabid }}" data-toggle="tab">{{ item.tabtitle }}</a>
			</li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		{% if errormsg is defined %}
			<div class="alert"><strong>Error: </strong>{{ errormsg }}</div>
		{% endif %}

		{% for item in submit_forms %}

			<div class="tab-pane {% if loop.first %}active{% endif %}" id="tab-{{ item.tabid }}">
				{% include item.form %}
			</div>

		{% endfor %}
	</div>
{% endblock %}
